@model List<PizzaBox.Client.Models.PizzaTopping>

@{
    ViewData["Title"] = "Pizza Toppings";
}

<h1>All Pizza Toppings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Pizza Topping ID
            </th>
            <th>
                Pizza ID
            </th>
            <th>
                Topping ID
            </th>
            <th>
                Topping Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaToppingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToppingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToppingCount)
            </td>
        </tr>
        }
    </tbody>
</table>
