@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h2>View, edit, and delete items in the tables below:</h2>
    <h4>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllCustomers">Customers</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllStores">Stores</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllOrders">Orders</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllPizzaSizes">Pizza Sizes</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllCrusts">Crusts</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllToppings">Toppings</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllPizzas">Pizzas</a>
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AllPizzaToppings">Pizza Toppings</a>
    </h4>
    <p>The list above is based on the dependencies within the database.</p>
</div>
