@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PizzaBox</h1>
    <p>
        This prototype was built using ASP.Net Web API for server-side logic and ASP.NET MVC for client-side logic.<br />
        As you can see there's both an admin view and customer view for demonstration and testing purposes. Enjoy! (=
    </p>
</div>
