@model PizzaBox.Client.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<h6>Here is your order details:</h6>
@foreach (Pizza p in Model.Pizzas)
{
    String s = " ";
    foreach (PizzaTopping pt in p.PizzaToppings)
    {
        s += pt.Topping.ToppingName + " (" + pt.ToppingCount + "), ";
    }
    s = s.Substring(0, s.Length - 2);
    <p>@p.PizzaSize.PizzaSizeName, @p.Crust.CrustName pizza with toppings @s.</p>
}

<a asp-action="DisplayCustomer" asp-route-id="@Model.CustomerId">View all orders</a>
<br />
<a asp-action="Index">Log out</a>
